body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(./img/Section4.jpg);
}

nav ul{
    padding: 0px;
    margin: 0px;
}

nav ul a{
    text-decoration: none;
    color: #fff;
}

nav ul a li{
    display: inline-block;
    padding: 0px 10px;
}

#menu{
    background-color: #333;
    text-align: center;
    padding: 30px 0px;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    transition: padding ease-in-out 0.5s;
}

#menu.shrink{
    padding: 10px 0px;
}

.wallpaper{
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.content{
    text-align: center;
    font-size: 30px;
	width: 70%;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	color: #fff;
	padding: 20px;
}

.second{
    font-size: 25px;
}